	body {
		background-color: rgb(250, 103, 181);
    }

    #animal {
	    width: 250px;
	    height: 200px;
	    margin: 20px;
    }

    #pregunta1, #pregunta2, #pregunta3, #pregunta4 {
	    font-size: 30px;
	    margin-bottom: 20px;
    }

	h1 {
		font-size: 60px;
	}

#btn-1-1, #btn-1-2, #btn-1-3 {
	background-color: #4CAF50;
	color: #fff;
	font-size: 20px;
	padding: 20px 40px;
	margin: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#btn-1-1:hover, #btn-1-2:hover, #btn-1-3:hover {
	background-color: crimson;
}

#btn-2-1, #btn-2-2, #btn-2-3 {
    background-color: #4CAF50;
    color: #fff;
	font-size: 20px;
    padding: 20px 40px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#btn-2-1:hover, #btn-2-2:hover, #btn-2-3:hover {
    background-color: crimson;
}

#btn-3-1, #btn-3-2, #btn-3-3 {
	background-color: #4CAF50;
	color: #fff;
	font-size: 20px;
	padding: 20px 40px;
	margin: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#btn-3-1:hover, #btn-3-2:hover, #btn-3-3:hover {
	background-color: crimson;
}

#btn-4-1, #btn-4-2, #btn-4-3 {
	background-color: #4CAF50;
	color: #fff;
	font-size: 20px;
	padding: 20px 40px;
	margin: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#btn-4-1:hover, #btn-4-2:hover, #btn-4-3:hover {
	background-color: crimson;
}

#resultado1, #resultado2, #resultado3, #resultado4 {
	color: black;
	font-size: 40px;
}
