body {
	background-color: #f0f0f0;
}

#animal {
	width: 250px;
	height: 200px;
	margin: 20px;
}

#pregunta {
	font-size: 24px;
	margin-bottom: 20px;
}

#btn-1, #btn-2, #btn-3 {
	background-color: #4CAF50;
	color: #fff;
	padding: 10px 20px;
	margin: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#btn-1:hover, #btn-2:hover, #btn-3:hover {
	background-color: #3e8e41;
}

#btn-4, #btn-5, #btn-6 {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#btn-4:hover, #btn-5:hover, #btn-6:hover {
    background-color: #3e8e41;
}

#resultado {
	font-size: 24px;
	color: #666;
	margin-top: 20px;
}
